@{
    ViewData["Title"] = "Fixed Table Header";
}

<h1>Fixed Table Header (with scrolling body)</h1>


<div class="container">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th class="col-3">First Name</th>
                    <th class="col-3">Last Name</th>
                    <th class="col-6">E-mail</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>

            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            <tr>
                <td class="col-3">John</td>
                <td class="col-3">Doe</td>
                <td class="col-6">johndoe@email.com</td>
            </tr>
            </tbody>
        </table>
    </div>

@section Scripts
{

}
